<div class="container">
  <h1 style="color:white">Create Sale Order</h1>
  <hr>
  <form novalidate [formGroup]="formGroup" (ngSubmit)="save()">
    <!--(ngSubmit)="save()"-->
    <div class="row">
      <div class="col">
        <div class="form-group ">
          <label for="category" style="display:block;">Customers</label>

          <!--<select formControlName="CustomerRefListID"
          (change)="onChange($event.target)"
          class="form-control form-control-sm"
          type="text" id="customer" placeholder="Customer">
    <option *ngFor="let item of customers; let i = index" [value]="item.listID">{{item.fullName}}</option>
  </select>-->

          <input formControlName="CustomerRefListID"
                 class="form-control form-control-sm"
                 name="CustomerRefListID"
                 (input) ="onChangeCustomerRefListID($event.target.value)"
                 (selectItem)="onChangeCustomerRefListID($event.item.fullName)"
                 (keydown)="typeaheadKeydown(customer)"
                 (focus)="focusCustomer$.next($event.target.value)"
                 [ngbTypeahead]="search"
                 [inputFormatter]="formatterCustomer"
                 [resultFormatter]="formatterCustomer"
                 #customer="ngbTypeahead">
          <!--list="CustomerRefListID"
          <datalist id="CustomerRefListID">
            <option *ngFor="let item of customers;" [value]="item.fullName">
          </datalist>-->

        </div>
      </div>
    </div>

    <div class="row" *ngIf="enableSaleOrder==true">
      
      <div class="col">
        <div class="row" >

          <div class="col-12 col-md-auto  mb-2">
            <button class="btn btn-info " type="button" (click)="refil()">Refill last invoice</button>
          </div>

          <ng-container *ngIf="customerSelect.shipToAddress">
            <div class="col-12 col-sm-6 col-md-3 mb-2 pl-md-0">
              <select 
                formControlName="Shiping"
                class="form-control form-control-sm"
                type="text" id="customer" placeholder="Customer">
              <option *ngFor="let item of customerSelect.shipToAddress; let i = index" [ngValue]="item" >{{item.name}}</option>
              </select>
            </div>

            <div class="col-12 col-sm-6 col-md  mb-2 pl-sm-0">
              <div class="card text-white bg-info">
                <div class="card-body pl-2 py-1" style="white-space: pre-wrap;">
                  <div class="card-text" >{{ ((Shiping?.addr1)?Shiping?.addr1+'\n' :'')+
                    ((Shiping?.addr2)?Shiping?.addr2+'\n':'')+
                    ((Shiping?.addr3)?Shiping?.addr3+'\n':'')+
                    ((Shiping?.addr4)?Shiping?.addr4+'\n':'')+
                    ((Shiping?.addr5)?Shiping?.addr5+'\n':'')+
                    ((Shiping?.city)?Shiping?.city:'') + ((Shiping?.state)?', '+Shiping?.state:'') + ((Shiping?.postalCode)?', '+Shiping?.postalCode:'')+ ((Shiping?.country)?', '+Shiping?.country+'\n':'')+
                    ((Shiping?.note)?Shiping?.note:'')
                  }}</div>
                </div>
              </div>
            </div>
          </ng-container>

        </div>

        <div class="table-responsive">
          <table class="table table-hover table-dark table-sm">
            <thead>
              <tr>
                <th scope="col">ITEM</th>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">ORDERED</th>
                <th scope="col">RATE</th>
                <th scope="col">AMOUNT</th>
                <th scope="col">OPTION</th>
              </tr>
            </thead>
            <tbody>
              <tr formArrayName="SalesOrderLineAdd" *ngFor="let saleOrder of SalesOrderLineAdd?.controls; let i = index">
                <ng-container [formGroupName]="i">
                  <td>
                    <ng-template #rt let-r="result" let-t="term">
                      <div><ngb-highlight [result]="r.fullName" [term]="t"></ngb-highlight></div>
                      <div><small><ngb-highlight [result]="r.salesDesc" [term]="t"></ngb-highlight></small></div>
                      <!--<div>{{r.salesDesc}}</div>-->
                    </ng-template>
                    <input formControlName="ItemRefListID"
                           #selec
                           #selec1="ngbTypeahead"
                           class="form-control form-control-sm"
                           name="items"
                           (focus)="focusInput($event)"
                           (keydown)="typeaheadKeydown(selec1)"
                           [ngbTypeahead]="searchItems"
                           [inputFormatter]="formatterItems"
                           [resultTemplate]="rt">
                  </td>
                  <td>{{items|DescByItem:selec.value}}</td>
                  <td>
                    <input formControlName="Quantity"
                           #ordered
                           class="form-control form-control-sm"
                           type="number" [id]="'Quantity'+i"
                           style="width:65px">
                  </td>
                  <td>
                    <input formControlName="Rate"
                           #Rate
                           class="form-control form-control-sm"
                           type="number" [id]="'Rate'+i"
                           style="width:98px">
                  </td>
                  <td>
                    <input formControlName="Amount"
                           #Amount
                           class="form-control form-control-sm"
                           type="number" [id]="'Amount'+i"
                           style="width:98px"
                           (input)="updateRate(saleOrder,$event)"
                           (keypress) ="updateRate(saleOrder,$event)"
                           >
                  </td>
                  <td>
                    <button (click)="removeSalesOrderLineAdd(i)"
                            type="button"
                            class="btn btn-sm btn-danger">
                      Delete
                    </button>
                  </td>
                </ng-container>
        </tr>
        <tr>
          <td colspan="4" style="border-top-color:white">
            <button type="button" class="btn btn-sm btn-info faa-parent animated-hover " (click)="addSalesOrderLineAdd()">
              <i class="fas fa-plus faa-tada"></i>
              Add Item
            </button>
            <b> TOTAL</b>
          </td>
          <td colspan="2" style="border-top-color:white"><b>{{items|AmountTotal: SalesOrderLineAdd?.controls}}</b></td>
        </tr>
        </tbody>
          </table>
        </div>

        <!--<button type="button" class="btn  btn-danger mt-2 mr-2" (click) ="goBack()">Cancel</button>-->
        <button type="submit" class="btn  btn-info mt-2" [disabled]="!formGroup.valid">Create Sale Order</button>
      </div>
    </div>
  </form>
  <div class="jumbotron" *ngIf="enableSaleOrder==false">
    <h1 class="display-4 text-center">Warning!!</h1>
    <p class="lead text-center">This customer does not meet the requirements.</p>

    <ng-container *ngIf="creditLimite">
      <p class="lead text-center">The credit limit exceeds the established parameters</p>
    </ng-container>

    <ng-container *ngIf="invocesDueDate">
      <p class="lead text-center">The customer has  {{_saleOrderService.saleOrderConfig.invocesDueDate}} or more overdue invoices.</p>
    </ng-container>

    <ng-container *ngIf="daysNextDueDate">
      <p class="lead text-center">The customer has at least one invoice due {{_saleOrderService.saleOrderConfig.daysNextDueDate}} days past due.</p>
    </ng-container>

    <ng-container *ngIf="invocesDueDate||daysNextDueDate">
      <ng-container *ngFor="let invoc of invoces">
        <p class="lead text-center"><b>Due Date:</b> {{invoc.dueDate|date}} <b>Amount:</b> {{invoc.balanceRemaining.toFixed(2)}}</p>
      </ng-container>
      <p class="lead text-center"><b>Amount Total: {{invoces|AmountTotalByInvoce}}</b></p>
    </ng-container>

    <hr class="my-4">
    <p class="lead text-center">Contact your boss to activate the new Sale Order creation for this customer.</p>

    <ng-container *ngIf="code">
      <div *ngIf="codeValid" class="invalid text-center text-danger">
        Code Error
      </div>
      <input #codigo
             class="form-control form-control-sm text-center" type="text"
             style="width:100px; display: block; margin: 10px auto;" placeholder="Code" maxlength="6">
      <a *ngIf="code" class="btn btn-info btn-lg text-center" role="button" style="display:block" (click)="cheqCode(codigo.value)">Validate</a>
    </ng-container>
    <a *ngIf="!code" class="btn btn-info btn-lg text-center" role="button" style="display:block" (click)="getCode()">Activate</a>
  </div>

  <div class="jumbotron" *ngIf="loadCustomers||customers.length==0||items.length==0">
    <h1 class="display-4 text-center" *ngIf="loadCustomers">Loading...</h1>
    <h1 class="display-4 text-center" *ngIf="!loadCustomers&&(customers.length==0||items.length==0)">Error try again</h1>
    <a class="btn btn-info btn-lg text-center"  role="button" style="display:block" *ngIf="!loadCustomers&&(customers.length==0||items.length==0)" (click)="loadInicilaData()">Retry</a>
  </div>

</div>

