/* You can add global styles to this file, and also import other style files */
body {
  /*background: rgb(128, 128, 128);*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: linear-gradient(180deg, #4b4b4b 0%, rgb(128, 128, 128) 36%,#4b4b4b 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}



ngb-pagination > ul > li > a {
  background-color: rgb(25, 49, 73) !important;
  color: #fff!important;
  border-color: rgb(17, 122, 139) !important;
}

  ngb-pagination > ul > li > a:focus,
  ngb-pagination > ul > li > a:hover,
  ngb-pagination > ul > li > span:focus,
  ngb-pagination > ul > li > span:hover {
    /*color: white;*/
    background: rgb(34, 65, 98) !important;
    /*border-color: #454d55;*/
  }
ngb-pagination > ul > li.page-item.active > a {
  background: rgb(34, 65, 98)!important ;
}
ngb-pagination > ul > li.page-item.disabled > a {
  color: #6c757d !important;
}
.page-link:focus {
  box-shadow: none;
}
.dw {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 36px !important;
  border-radius: 2.25rem;
}

ngb-typeahead-window {
  overflow-x: hidden;
  max-height:178px;
  max-width:100%;
}
