/* You can add global styles to this file, and also import other style files */
body {
  /*background: rgb(128, 128, 128);*/
  background-color: #4b4b4b;
}

button {
  background: rgb(25, 49, 73) !important;
  color: white !important;
}

  button:hover {
    background: rgb(34, 65, 98) !important;
    color: white !important;
  }
