<main id="content">
  <!-- Hero -->
  <div class="container py-5">
    <h1 class="display-2 pb-2" style="color:white">Create an awesome design portfolio</h1>
    <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
    <div class="row">
      <div class="col-lg-8">
        <p class="font-serif lead mb-4 text-secondary">Focus is a clean and elegant Bootstrap theme for designers, architects, photographers and creative people.</p>
      </div>
    </div>
  </div>

</main>
