<div class="container py-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-center text-white mb-4">Change Passwrod</h2>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <!-- form card login -->
          <div class="card rounded-lg">
            <div class="card-header">
              <h3 class="mb-0 text-center">{{email}}</h3>
            </div>
            <div class="card-body">

              <form novalidate [formGroup]="formGroupPass" (ngSubmit)="savePass()">
                <small id="emailHelp" class="form-text text-center" *ngIf="error">
                  {{error}}
                </small>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input formControlName="password"
                         #password
                         class="form-control form-control-sm"
                         type="password" id="password" placeholder="Enter password">
                  <small id="emailHelp" class="form-text"
                         *ngIf="((formGroupPass.get('password').touched || formGroupPass.get('password').dirty) && formGroupPass.get('password').errors?.required)">
                    The field is required.
                  </small>
                  <small id="emailHelp" class="form-text"
                         *ngIf="((formGroupPass.get('password').touched || formGroupPass.get('password').dirty) && formGroupPass.get('password').errors?.minlength)">
                    Password must be at least 5 characters long.
                  </small>
                </div>

                <div class="form-group">
                  <label for="passwordConf">Confirm Password</label>
                  <input formControlName="passwordConf"
                         #passwordConf
                         class="form-control form-control-sm"
                         type="password" id="passwordConf" placeholder="Enter passwordConf">
                  <small id="emailHelp" class="form-text"
                         *ngIf="((formGroupPass.get('passwordConf').touched || formGroupPass.get('passwordConf').dirty) && formGroupPass.get('passwordConf').errors?.required)">
                    The field is required.
                  </small>
                  <small class="form-text" *ngIf="( (formGroupPass.get('passwordConf').touched || formGroupPass.get('passwordConf').dirty)
                                            && (formGroupPass.get('password').touched || formGroupPass.get('password').dirty)
                                            && formGroupPass.errors?.notSame )">
                    The password are not the same.
                  </small>
                </div>

                <button type="submit" class="btn btn-danger float-right" data-dismiss="modal" [disabled]="!formGroupPass.valid">Submit</button>
              </form>
            </div>
            <!--/card-block-->
          </div>
          <!-- /form card login -->

        </div>


      </div>
      <!--/row-->

    </div>
    <!--/col-->
  </div>
  <!--/row-->
</div>
<!--/container-->
